.clb__wrap {
  h5 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.2px;
  }
  display: flex;
  flex-direction: column;
  gap:20px;

  p {
    font-weight: 400;
    font-size: 1.1rem;
  }
  .clb__bool_yes_value{
    color:$primary-color;
  }
}