.cic__container {
  background: $input_bg_color;
  border-radius: $input_border_radius;
  padding: $input_padding;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: $grey-primary-color;
    font-size: 14px;
    text-transform: capitalize;
  }

  input,
  select,
  option {
    font-weight: 500 !important;
  }

  .v-text-field {
    padding-top: 0px !important;
    margin-top: 0px !important;

    .v-input__slot {
      &::before {
        content: none !important;
      }
    }


  }
}