.login__container {
  background: #eee !important;
  width: 100% !important;
  height: 100% !important;

  .login__form {
    margin-top: 100px;
  }

  .mt-100 {
    margin-top: 100px !important;
  }

  .nathan-digital__logo {
    width: 150px;
  }
}


