//COLORS
$primary-color: #FFC32F;
$text-dark-color:#2E2E2E;
$text-light-color:#f2f2f2;
$background-light-color:#F8F8F3;
$subtitle-dark-color:#374148;
$primary-action-color:#13CEAA;
$placeholder-text-color:#545454;
$grey-primary-color:#A6A6A6;
$purple-color:#7E74BA;
$border-color:#BBBBBB;
$white-color:#FFFFFF;
$white-color-opacity8:#ffffff85;
$black-color:#000000;


//DASHBOARD COLORS
$bg-color:#F8F8F3;
$grey-color:#CACAC9B2;
$indicator-text-color:#2F84A8;
$green-color:#13CE2BCC;
$green-lighten1-color:#11DB25;
$green-teal-color:#11DB25;
$card-blue-bg-color:#C6E7FF;


//INPUT COLORS
$input_bg_color:#F5F5F5;
$input_border_radius: 10px;
$input_padding:15px;


//TEXT VARIABLES


//BUTTON BACKGROUNDS
$btn-blue-bg-color:#DCEAF4;
$btn-green-bg-color:#EBFEEC;
$btn-cyan-bg-color:#D7FAFC;
$btn-maroon-bg-color:#FFE19766;
$btn-red-bg-color:#FF5E5E26;

//Variables to modify
$btn-border-radius: 15px;
$card-border-radius: 15px;
$card-elevation: 0;
$card-hover-elevation:0;
$text-field-border-radius:15px;
$text-field-outlined-fieldset-border: 0.5px solid $border-color;
$text-field-append-prepend-margin:6px;
$btn-text-transform: capitalize;
$tabs-bar-height:65px;


