// default app layout stylesheet

.v-menu__content{
    border-radius: 18px;
    margin-top: 41px !important;
}
.v-menu__content::before{
    border-top-right-radius: 18px;
}
.v-menu__content::-webkit-scrollbar {
display: none;
}

